/* A style sheet*/

.header{
	text-align: center;
	font-family: "Calibri";
	color: blue;
	text-decoration: underline;
}

.rh{
	text-align: left;
	font-family: "Papyrus";
	color: green;
	text-decoration: underline;
}

.hpbody{
	text-align: center;
	font-family: "Comic Sans MS";
	background-color: yellow;	
}

#biop{
	text-align: center;
	font-family: "Arial";
	background-color: yellow;
	color: red;
}

#resheader{
	text-align: left;
	font-family: "Calibri";
	color: blue;
	text-decoration: underline;
}
